<!DOCTYPE html>
<html >
<head>
  {% load static %}
<meta charset="UTF-8">
<title>Sign Up Login</title>
<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

{% if message %}
<script>
  alert("{{ message }}")
</script>
{% endif %}

<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_info_log_sign_up">
        <div class="col_md_login">
          <div class="cont_ba_opcitiy">
            <h2>登录</h2>
            <p>使用您的身份证号码作为账号登录</p>
            <button class="btn_login" onClick="cambiar_login()">LOGIN</button>
          </div>
        </div>
        <div class="col_md_sign_up">
          <div class="cont_ba_opcitiy">
            <h2>注册</h2>
            <p>如果你没有账号请点击这里注册</p>
            <button class="btn_sign_up" onClick="cambiar_sign_up()">SIGN UP</button>
          </div>
        </div>
      </div>
      <div class="cont_back_info">
        <div class="cont_img_back_grey"> <img src="{% static "img/po.jpg" %}" alt="" /> </div>
      </div>
      <div class="cont_forms" >
        <div class="cont_img_back_"> <img src="{% static "img/po.jpg" %}" alt="" /> </div>
          <form class="cont_form_login" action="/login/" method="post">{% csrf_token %}
            <a href="#" onClick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
            <h2>LOGIN</h2>
            <input type="text" placeholder="身份证号" name="username"/>
            <input type="password" placeholder="密码" name="password" />
            <input type="submit"  class="btn_login" value="登录" style="width:200px;text-align:center;color:#fff; ">
          </form>
        <form class="cont_form_sign_up" action="/register/" method="post">{% csrf_token %} 
          <a href="#" onClick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
          <h2>SIGN UP</h2>
          <input type="text" placeholder="身份证号" name="U_Id"/>
          <input type="text" placeholder="姓名" name="U_Name"/>
          <input type="password" placeholder="密码" name="password1"/>
          <input type="password" placeholder="确认密码" name="password2"/>
          <input type="submit"  class="btn_sign_up" value="注册" style="width:200px;text-align:center;color:#fff; ">
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static "js/index.js" %}"></script>

</body>
</html>
