
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="skcats">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>主页</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "plugins/icomoon/style.css" %}" rel="stylesheet">
        <link href="{% static "plugins/uniform/css/default.css" %}" rel="stylesheet"/>
        <link href="{% static "plugins/switchery/switchery.min.css" %}" rel="stylesheet"/>
        <link href="{% static "plugins/datatables/css/jquery.datatables.min.css" %}" rel="stylesheet" type="text/css"/>	
        <link href="{% static "plugins/datatables/css/jquery.datatables_themeroller.css" %}" rel="stylesheet" type="text/css"/>	
        <link href="{% static "plugins/bootstrap-datepicker/css/datepicker3.css" %}" rel="stylesheet" type="text/css"/>	
      
        <!-- Theme Styles -->
        <link href="{% static "css/ecaps.min.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar">
                <a class="logo-box" href="/index/">
                    <span>机票预定系统</span>
                    <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
                    <i class="icon-close" id="sidebar-toggle-button-close"></i>
                </a>
                <div class="page-sidebar-inner">
                    <div class="page-sidebar-menu">
                        <ul class="accordion-menu">
                            <li>
                                <a href="/index/">
                                    <i class="menu-icon icon-home4"></i><span>主页</span>
                                </a>
                            </li>
                            <li>
                                <a href="/book/">
                                    <i class="menu-icon icon-star"></i><span>订票</span>
                                </a>
                            </li>
                            <li class="active-page">
                                <a href="/order/">
                                    <i class="menu-icon icon-format_list_bulleted"></i><span>订单管理</span>
                                </a>
                            </li>
                            <li class="menu-divider"></li>
                            <li>
                                <a href="/index/">
                                    <i class="menu-icon icon-help_outline"></i><span>Documentation</span>
                                </a>
                            </li>
                            <li>
                                <a href="/index/">
                                    <i class="menu-icon icon-public"></i><span>Changelog</span><span class="label label-danger">1.0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /Page Sidebar -->
            
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="search-form">
                        <form action="#" method="GET">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="close-search" type="button"><i class="icon-close"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <div class="logo-sm">
                                    <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                                    <a class="logo-box" href="/index/"><span>机票预定系统</span></a>
                                </div>
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i class="fa fa-bars"></i></a></li>
                                    <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="fa fa-expand"></i></a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{% static "img/avatar.jpg" %}" alt="" class="img-circle"></a>
                                        <ul class="dropdown-menu">
                                            {% comment %} <li><a href="#">Profile</a></li>
                                            <li><a href="#">Calendar</a></li>
                                            <li><a href="#"><span class="badge pull-right badge-danger">42</span>Messages</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Account Settings</a></li> {% endcomment %}
                                            <li><span style="margin-left:20px;">你好，</span>{{ request.session.user_name }}</li>
                                            <li><a href="/logout/" style="text-align:center;">Log Out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div><!-- /Page Header -->
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Basic example</h4>
                                </div>
                                <div class="panel-body">
                                   <div class="table-responsive">
                                    <table id="example" class="display table" style="width: 100%; cellspacing: 0;text-align:center;">
                                        <thead>
                                            <tr>
                                                <th style="width: 200px;text-align:center;">订单号</th>
                                                <th style="width: 200px;text-align:center;">出发地</th>
                                                <th style="text-align:center;">目的地</th>
                                                <th style="width: 350px;text-align:center;">出发时间</th>
                                                <th style="text-align:center;">付款情况</th>
                                                <th style="text-align:center;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for n in n_list %}
                                            <tr>
                                                <td>{{n.O_Id}}</td>
                                                <td>{{n.origin}}</td>
                                                <td>{{n.des}}</td>
                                                <td>{{n.s_time}}</td>
                                                {% if n.status == True %}
                                                <td>已付款</td>
                                                <td><button type="button" class="info-btn btn btn-success btn-addon" style="margin:0;" data-toggle="modal" data-target="#info" data-fid={{ n.f_id }} data-origin={{n.origin}} data-des={{n.des}} data-aname={{n.a_id}} data-price={{n.price}} data-oid={{n.O_Id}} data-seat={{n.seat}}>查看详情</button></td>
                                                <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="col-md-12">
                                                                <div class="panel panel-white">
                                                                    <div class="panel-heading clearfix">
                                                                        <h4 class="panel-title">订票信息确认</h4>
                                                                    </div>
                                                                    <div class="panel-body" style="text-align:center;">
                                                                        <form class="form-horizontal">{% csrf_token %}
                                                                            <div class="form-group">
                                                                                <label class="col-sm-2 control-label">订单号</label>
                                                                                <input style="display:none;" type="text" id="oid">
                                                                                <div class="col-sm-10">
                                                                                <span id="info_o_id"></span>
                                                                                <P></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-2 control-label">姓名</label>
                                                                                <div class="col-sm-10">
                                                                                <span>{{ user.U_Name }}</span>
                                                                                <P></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-2 control-label">身份证号</label>
                                                                                <div class="col-sm-10">
                                                                                <input type="text" class="form-control" name="U_Id" style="display:none;"  placeholder="身份证号" value="{{ request.session.user_id }}">
                                                                                <span>{{ request.session.user_id }}</span>
                                                                                <P></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-2 control-label">航班号</label>
                                                                                <div class="col-sm-10">
                                                                                <input type="text" class="form-control" id="f_id" name="F_Id" style="display:none;">
                                                                                <span id="info_fid_text"></span>
                                                                                <P></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-2 control-label">出发地</label>
                                                                                <div class="col-sm-10">
                                                                                <span id="info_origin"></span>
                                                                                <P></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-2 control-label">目的地</label>
                                                                                <div class="col-sm-10">
                                                                                <span id="info_des"></span>
                                                                                <P></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-2 control-label">航空公司</label>
                                                                                <div class="col-sm-10">
                                                                                <span id="info_aname"></span>
                                                                                <P></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-2 control-label">价格</label>
                                                                                <div class="col-sm-10">
                                                                                <span id="info_price"></span>
                                                                                <P></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-2 control-label">座位号</label>
                                                                                <div class="col-sm-10">
                                                                                <span id="info_seat"></span>
                                                                                <P></p>
                                                                                </div>
                                                                            </div>
                                                                        <div class="form-group" id = "buy_btn1">
                                                                            <div class="col-sm-offset-2 col-sm-10">
                                                                            <P class="print_msg" style="color:red;font-size:13px;font-weight:500;margin-right:70px;"></p>
                                                                            <button type="button" class="print btn btn-primary ticketpay" style="margin-left:230px;margin-top:20px" onClick="print_ticket();">打印机票</button>
                                                                            <button type="button" class="btn btn-danger ticketpay" style="left:200px;margin-top:20px" onClick="del_ticket();">退票</button>
                                                                            
                                                                            
                                                                            </div>
                                                                        </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal -->
                                                </div>
                                                {% else %}
                                                <td>未付款</td>
                                                <td><button type="button" class="btn btn-primary btn-addon" style="margin:0 5px 0;font-size:12px;" data-toggle="modal" data-target="#pay" data-fid={{ n.f_id }} data-origin={{n.origin}} data-des={{n.des}} data-aname={{n.a_id}} data-price={{n.price}} data-oid={{n.O_Id}}>付款</button>
                                                    <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="col-md-12">
                                                                    <div class="panel panel-white">
                                                                        <div class="panel-heading clearfix">
                                                                            <h4 class="panel-title">订票信息确认</h4>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <form class="form-horizontal">{% csrf_token %}
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">订单号</label>
                                                                                    <input style="display:none;" type="text" id="oid">
                                                                                    <div class="col-sm-10">
                                                                                    <span id="o_id"></span>
                                                                                    <P></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">姓名</label>
                                                                                    <div class="col-sm-10">
                                                                                    <span>{{ user.U_Name }}</span>
                                                                                    <P></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">身份证号</label>
                                                                                    <div class="col-sm-10">
                                                                                    <input type="text" class="form-control" name="U_Id" style="display:none;"  placeholder="身份证号" value="{{ request.session.user_id }}">
                                                                                    <span>{{ request.session.user_id }}</span>
                                                                                    <P></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">航班号</label>
                                                                                    <div class="col-sm-10">
                                                                                    <input type="text" class="form-control" id="f_id" name="F_Id" style="display:none;">
                                                                                    <span id="fid_text"></span>
                                                                                    <P></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">出发地</label>
                                                                                    <div class="col-sm-10">
                                                                                    <span id="origin"></span>
                                                                                    <P></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">目的地</label>
                                                                                    <div class="col-sm-10">
                                                                                    <span id="des"></span>
                                                                                    <P></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">航空公司</label>
                                                                                    <div class="col-sm-10">
                                                                                    <span id="aname"></span>
                                                                                    <P></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">价格</label>
                                                                                    <div class="col-sm-10">
                                                                                    <span id="price"></span>
                                                                                    <P></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group" id="i_password">
                                                                                    <label class="col-sm-2 control-label">输入密码</label>
                                                                                    <div class="col-sm-10">
                                                                                    <input id="password_i" type="password" class="form-control" name="password_i">
                                                                                    <P class="msg" style="text-align:left;color:red;font-size:13px;font-weight:500;padding-left:5px;"></p>
                                                                                    </div>
                                                                                </div>
                                                                            <div class="form-group" id = "buy_btn1">
                                                                                <div class="col-sm-offset-2 col-sm-10">
                                                                                <button type="button" class="btn btn-success ticketpay" style="margin:0 5 0px 0 0;" >付款</button>
                                                                                </div>
                                                                            </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal -->
                                                    </div>
                                                <button type="button"  class="delete_btn btn btn-danger btn-addon" style="margin:0;font-size:12px;" data-toggle="modal" data-target="#delete" data-oid={{n.O_Id}}>取消订单</button></td>
                                                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">提示</h4>
                                                            </div>
                                                            <div class="modal-body">是否确认取消该订单</div>
                                                            <span id="del_oid" style="display:none;"></span>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                                <button type="button" class="btn btn-danger" onClick="delete_api();">确定</button>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal -->
                                                </div>
                                                
                                                {% endif %}
                                                
                                                <!-- 模态框（Modal） -->
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                       </table>  
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
                <!-- Page Inner -->
                
                <div class="page-right-sidebar" id="main-right-sidebar">
                    <div class="page-right-sidebar-inner">
                        <div class="right-sidebar-top">
                            <div class="right-sidebar-tabs">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active" id="chat-tab"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab">chat</a></li>
                                    <li role="presentation" id="settings-tab"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">settings</a></li>
                                </ul>
                            </div>
                            <a href="javascript:void(0)" class="right-sidebar-toggle right-sidebar-close" data-sidebar-id="main-right-sidebar"><i class="icon-close"></i></a>
                        </div>
                        
                    </div>
                </div>
                <div class="page-right-sidebar" id="chat-right-sidebar">
                </div>
            </div><!-- /Page Content -->
        </div><!-- /Page Container -->
        
        
        <!-- Javascripts -->
        <script src="{% static "plugins/jquery/jquery-3.1.0.min.js" %}"></script>
        <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}"></script>
        <script src="{% static "plugins/uniform/js/jquery.uniform.standalone.js" %}"></script>
        <script src="{% static "plugins/switchery/switchery.min.js" %}"></script>
        <script src="{% static "plugins/datatables/js/jquery.datatables.min.js" %}"></script>
        <script src="{% static "plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
        <script src="{% static "js/ecaps.min.js" %}"></script>
        <script src="{% static "js/pages/table-data.js" %}"></script>
        <script>
            $('.btn-primary').click(function (e) {
                data_fid = e.currentTarget.dataset.fid;
                data_origin = e.currentTarget.dataset.origin;
                data_des = e.currentTarget.dataset.des;
                data_aname = e.currentTarget.dataset.aname;
                data_price = e.currentTarget.dataset.price;
                data_oid = e.currentTarget.dataset.oid;
                $('#fid_text').html(data_fid);
                $('#origin').html(data_origin);
                $('#des').html(data_des);
                $('#aname').html(data_aname);
                $('#price').html(data_price);
                $('#o_id').html(data_oid);
                document.getElementById('oid').value = $('#o_id').text();
                $('#password_i').val('');
            })
            $('.info-btn').click(function (e) {
                data_fid = e.currentTarget.dataset.fid;
                data_origin = e.currentTarget.dataset.origin;
                data_des = e.currentTarget.dataset.des;
                data_aname = e.currentTarget.dataset.aname;
                data_price = e.currentTarget.dataset.price;
                data_oid = e.currentTarget.dataset.oid;
                data_seat = e.currentTarget.dataset.seat;
                $('#info_fid_text').html(data_fid);
                $('#info_origin').html(data_origin);
                $('#info_des').html(data_des);
                $('#info_aname').html(data_aname);
                $('#info_price').html(data_price);
                $('#info_o_id').html(data_oid);
                $('#info_seat').html(data_seat);
                document.getElementById('oid').value = $('#o_id').text();
                $('#password_i').val('');
                
            })
            $('.delete_btn').click(function (e) {
                data_oid = e.currentTarget.dataset.oid;
                $('#del_oid').html(data_oid);
            })
            $('.ticketpay').click(function () {
                div1 = document.getElementById("password_i");
                pass = "{{ user.U_password }}";
                if (div1.value){
                    if (div1.value != pass) {
                        $('.msg').html("密码错误，请重新输入！")
                    }
                    else {
                        $.ajax({
                            url:'/ticketpay/',
                            method:'post',
                            data:{'csrfmiddlewaretoken':$('[name="csrfmiddlewaretoken"]').val(),'name':"{{ user.U_Name }}",'pwd':$('#password_i').val(),'oid':$('#oid').val()},
                            success:function (data) {
                                // 方式二 : 加一行,将json格式字符串转成字典
                                // data = JSON.parse(data)
                                
                                // 状态码为200则表示登入成功
                                if (data.status === 200){
                                    // 前端进行网页跳转
                                    alert("购买成功，可到订单管理查看！");
                                    location.href='/order/';
                                }else {
                                    // 登入失败则使用DOM操作渲染msg	
                                    $('.msg').html(data.msg)
                                }
                            }
                        })
                        
                    }
                }
                else {
                    $('.msg').html("请输入密码!")
                }
            })
            function delete_api() {
                $.ajax({
                    url:'/delete_api/',
                    method:'post',
                    data:{'csrfmiddlewaretoken':$('[name="csrfmiddlewaretoken"]').val(),'oid':$('#del_oid').text()},
                    success:function () {
                        alert("订单取消成功");
                        location.href='/order/';
                    }
                })
            }
            function print_ticket(){
                $.ajax({
                    url:'/time_check/',
                    method:'post',
                    data:{'csrfmiddlewaretoken':$('[name="csrfmiddlewaretoken"]').val(),'oid':$('#info_o_id').text()},
                    success:function (data) {
                        // 方式二 : 加一行,将json格式字符串转成字典
                        // data = JSON.parse(data)
                        
                        // 状态码为200则表示登入成功
                        if (data.status === 200){
                            alert("打印成功，请保存好您的机票！");
                            location.href='/order/';
                        }else {
                            // 登入失败则使用DOM操作渲染msg	
                            $('.print_msg').html(data.msg);
                        }
                    }
                })
            }
            function del_ticket(){
                var msg = "您真的确定要退票吗？\n\n请确认！";
                if (confirm(msg)==true){
                    $.ajax({
                        url:'/delete_api/',
                        method:'post',
                        data:{'csrfmiddlewaretoken':$('[name="csrfmiddlewaretoken"]').val(),'oid':$('#info_o_id').text()},
                        success:function () {
                            alert("退票成功！");
                            location.href='/order/';
                        }
                    })
                }else{
                    return false;
                }
               
            }
        </script>
    </body>
</html>